<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS directives</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="app">

    <div class="container-fluid" ng-controller="directivesCtrl">

        formData.dt.begin --- {{formData.dt.begin}}
        <br>
        formData.dt.end --- {{formData.dt.end}}

        <div class="row">
            <div class="col-md-2">
                <div fsm-date-picker namedp="formData.dt.begin" requiredp="true" modedp="viewEdit"></div>                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div fsm-date-picker-range namedpfrom="formData.dt.begin" namedpto="formData.dt.end" requiredp="true" modedp="viewEdit"></div>                
            </div>
        </div>
        
        <div ng-repeat="user in users">
            <label>
                {{user.name}}
                <input type="radio" name="user" ng-model="formData.user_selected" ng-value="user.id">
            </label>
        </div>
        

        <button ng-click="checkFormVal()" class="btn btn-danger btn-xs pull-right">
            check form values
        </button>
        
    </div>
    
</body>
</html>